<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sangeng.mapper.UserMapper">
    <!--resultType就是每一行的结果要封装成什么类型：把一行结果封装成一个user对象-->
    <select id="findAll" resultType="com.sangeng.domain.User">
        select * from user
    </select>
</mapper>
